################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/k3d.Common/bin
/k3d.Common/obj
