################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/k3d.Common
/k3d.Common/bin/Debug/net8.0
/k3d.Common/obj
